// Colors
$blue: #2196f3;
$light-blue: #e3f2fd;
$dark-blue: #0d47a1;
$white: #ffffff;
$black: #000000;
$red: #d32f2f;

//font sizes for buttons and keybord
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.5rem;
$xl-size: 4.8rem;
